#root {
  text-align: center;
  min-width: inherit;
  min-height: 100vh;
}

input {
  color: #555;
  font-size: 16px;
  border: 1px solid var(--border-gray);
  border-radius: 6px;
  padding: 12px 16px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #ebebeb;
}

input:focus {
  outline: 4px auto -webkit-focus-ring-color;
  border-color: #dadada;
}

input::placeholder {
  color: #999;
  opacity: 0.4;
}

input:disabled {
  background-color: #f5f5f5;
  color: #aaa;
}

label {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 36px;
}
